﻿<!DOCTYPE html>
<html ng-app="app">
   <head>
      <title>Frontend Applicant Test</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="dist/main.min.css">
   </head>
   <body ng-controller="appCtrl">
      <div class="container">
         <h1>Content Report</h1>
         <div class="grid-thirds">
            <div class="col-1-3">
               <h3 class="app-total-channels">Total Channel Count: {{totalChannels}}</h3>
               <h3 class="app-total-devices">Total Devices Count: {{totalDevices}}</h3>
            </div>
            <div class="col-2-3">
               <select ng-model="selected">
                  <option value="All" selected ng-selected="true">All</option>
                  <option ng-repeat="(key, data) in records" value="{{ key }}">{{ key }}</option>
               </select>
            </div>
         </div>
         <section id="main">
            <div ng-repeat="(key, data) in records  | selected:selected" class="record grid-thirds">
               <div class="col-1-3">
                  {{key}}
               </div>
               <div class="col-2-3">
                  <div class="bluebar" style="width: {{ 40 + (data.Channels)*1.2 }}px;">{{data.Channels}}</div><div class="greenbar"  style="width: {{ 40 + (data.Devices)*1.2 }}px;">{{data.Devices}}</div>
               </div>
            </div>
         </section>
      </div>
      <script src="dist/main.min.js"></script>
   </body>
</html>