body {
    font-family: Roboto, sans-serif;
}

.container {
    width: 80%;
    margin: 0px auto;
}

#main {
    margin-top: 30px;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
}

.grid-thirds {
    display: flex;
    justify-content: space-between;

    .col-1-3 {
        width: 33.33333%;
    }
    .col-2-3 {
        width: 66.66667%;
    }
}

h3.app-total-channels {
    color: rgb(11, 98, 164);
    font-weight: 500;
    margin-top: 0px;
    padding-top: 0px;
}

h3.app-total-devices {
    color: rgb(24, 201, 24);
    font-weight: 500;
    margin-top: 0px;
    padding-top: 0px;
}

.greenbar, .bluebar {
    display: inline-block;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 10px;
}

.record {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bluebar {
    background-color: rgb(11, 98, 164);
}

.greenbar {
    background-color: rgb(24, 201, 24);
}